<!-- SIDEBAR ONLY TO BE USED IN CONJUNCTION WITH NAVBAR HEADER -->
</div>
<div class="sidenav">
  <div class="list-group sidenav-options">
    <%- include('sidebar-content') -%>
  </div>
  <p class="sidebar-text">
    <small>
      This site uses cookies for operation.
    </small>
  </p>
  <div class="full-width margin-top sidebar-collapse-btn-container">
    <div class="sidebar-collapse-btn-div centered-div">
      <i class="fas fa-arrow-left sidebar-collapse-btn"></i>
    </div>
  </div>
</div>
<div class="home-content">
