<%- include('partials/metadata'); -%> <%- include('partials/header') -%> <% if(authorized){ %> <%- include('partials/sidebar') -%> <% } %>

<div class="default-header">
	<div class="default-header-text-div">
		<h1 class="default-header-text">About Us</h1>
	</div>
</div>
<div class="post-body dark-primary-txt margin-1">
	<div class="margin-1">
		<h1>Our History</h1>
		<div class="margin-2">
			<div class="row no-margin">
				<div class="col-lg-6">
					<h3>
						Development for Hyperbowl started on October 8th, 2019. Hyperbowl was created by a teenager named Avyn Ebersold. His friends were very supportive and helped get Hyperbowl off the ground.
						Now Hyperbowl is an open-source social media website for creating and sharing literature.
					</h3>
				</div>
				<div class="col-lg-6">
					<img class="full-width about-img centered-div" src="https://i.ibb.co/WBTDgcb/WIN-20200402-09-22-46-Pro.jpg" alt="programmer-img" />
				</div>
			</div>
		</div>

		<h1>Open Source</h1>
		<div class="margin-2">
			<div class="row no-margin">
				<div class="col-lg-6">
					<img class="full-width about-img centered-div" src="https://i.ibb.co/ScQfWMy/vscode.png" alt="programmer-img" />
				</div>
				<div class="col-lg-6">
					<h3>
						Hyperbowl is entirely open-source. You can access the Github repository <a href="https://github.com/AvynEbersold/hyperbowl">here</a>. Contributions are appreciated. You can also submit
						suggestions <a href="/feedback">here</a>.
					</h3>
				</div>
			</div>
		</div>

		<h1>How You Can Help</h1>
		<div class="margin-2">
			<div class="row no-margin">
				<div class="col-lg-6">
					<h3>
						Become a part of Hyperbowl history. The best thing that could happen would be for Hyperbowl to get more users. Help us out by telling a friend about Hyperbowl. We hope you have a great
						time reading and writing articles.
					</h3>
				</div>
				<div class="col-lg-6">
					<img class="full-width about-img centered-div" src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="programmer-img" />
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer') -%>
